body {
    height: 100vh;
    background: rgb(255,92,92);
    background: linear-gradient(90deg, rgba(255,92,92,1) 10%, rgba(61,150,204,1) 90%);
    margin: 0;
    padding: 0;
}

.main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.social {
    width: 50%;
    padding: 20px;
}

.socialicons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.socialbar {
    display: flex;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.5em;
}

a {
    color: white;
}

i.fa-birthday-cake {
    font-size: 5em;
}

i {
    font-size: 3rem;
}

img.logo {
    height: 10vh;
    background-color: #ffffff;
}