@media (min-width: 576px) {
    
    .card-columns { 
        column-count: 1;
    }
}

@media (min-width: 992px) {
    
    .card-columns { 
        column-count: 2;
    }


}

@media (min-width: 1200px) {
    
    .card-columns { 
        column-count: 3;
    }


}

@media print {
     /*@page {size: landscape}  */
    .card-columns {
        column-count: 2;
        /* width: initial; */
    }

    .card {
        page-break-inside: avoid;
    }

    .cs_footer {
        display: none;
    }

    /* .cs_logo {
        display: none;
    } */

  }